<section class="banniere-des-marques">
    <div class="banniere">
        <h2 class="heading-secondary text-center u-margin-top-small u-margin-bottom-medium">Ils nous font confiance</h2>
        <ul class="boxs">
            <li>
                <img src="{{asset('images/logo_rislepizza.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_rislepizza.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_laurette.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_laurette.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_proxygen.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_proxygen.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/logo_proxygen.png')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/Logo-CDC.jpg')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/Logo-CDC.jpg')}}" alt="">
            </li>
            <li>
                <img src="{{asset('images/Logo-CDC.jpg')}}" alt="">
            </li>
        </ul>
    </div>    
</section>