{% extends 'layouts/base.html.twig' %}    

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(registrationForm) }}
        <div class="form-style form-style--connexion">

            <div class="mb-3">
            {{ form_row(registrationForm.nom)}}
            </div>
            <div  class="mb-3">
            {{ form_row(registrationForm.email) }}
            </div >
            <div class="mb-3">
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
            </div >
            <div class="mb-3">
            {{ form_row(registrationForm.type_user) }}
            </div >

            <div class="form-style--div-submit">
                <input class="form-style--btn-submit btn-connexion" type="submit" value="Valider" formnovalidate>
            </div>

        </div>
    {{ form_end(registrationForm) }}
{% endblock %}
