<header id="header">  
    <div class="box-logo logo">
        <img src={{asset('images/proxi-service1.png')}} alt="" width="200"/>
        {# <img src=" \media\cache\squared_thumbnail_medium\uploads\boutiques\images-62a0cb556ca24681761163.jpg " /> #}
    </div> 
    
    <nav class="menu main-nav">
        <ul class="main-nav-list">
            {% if app.user %}                
                {% if is_granted('ROLE_USER') %}
                    {% if app.request.get('_route') != 'app_user' %}
                        <li><a class="main-nav-link" href="{{path('app_user')}}">Mon Compte</a></li>
                    {% endif %}
                {% endif %}

                <li><a class="main-nav-link" href="{{path('app_logout')}}">Se déconnecter</a></li> 
            {% else %}
        
                <li><a class="main-nav-link" href="{{path('app_register')}}">Inscription</a></li>
                <li><a class="main-nav-link" href="{{path('app_login')}}">Se connecter</a></li>
            {% endif %}

            {% if app.request.get('_route') != 'app_index_boutiques' %}
                <li><a class="main-nav-link" href="{{path('app_index_boutiques')}}">Les boutiques</a></li>
            {% endif %}

            {% if app.request.get('_route') != 'app_produit_bonplans' %}
                <li><a class="main-nav-link" href="{{path('app_produit_bonplans')}}">Les bon plans</a></li> 
            {% endif %}

            {% if app.request.get('_route') != 'app_home' %}
                <li><a href="{{path('app_home')}}">retour home</a></li>
            {% endif %}
        
        </ul>
    </nav>

    <!-- responsive mobile button -->            
    <button class="btn-mobile-nav">
        <ion-icon
            class="icon-mobile-nav"
            name="menu-outline"
        ></ion-icon>
        <ion-icon
            class="icon-mobile-nav"
            name="close-outline"
        ></ion-icon>
    </button> 
</header>
<div class="marge-header-position-fix"></div>

  
        