<!-- sidebar menu area start -->
        <div class="sidebar-menu">
            <div class="sidebar-header">
                <div class="logo">
                    <a href="#"><img src="{{ asset('admin-template/images/icon/proxiAdmin_logo.png')}}" alt="logo"></a>
                </div>
            </div>
            <div class="main-menu">
                <div class="menu-inner">
                    <nav>
                        <ul class="metismenu" id="menu">
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="true"><ion-icon name="apps-outline"></ion-icon><span>Gérer Catégories</span></a>
                                <ul class="collapse">                                   
                                    <li><a href="{{path('app_admin_categories_index')}}">Toutes Catégories</a></li>
                                    <li><a href="{{path('app_admin_add_categorie')}}">Ajouter une catégorie</a></li>                                    
                                </ul>
                            </li>
                            <li class="">
                                <a href="javascript:void(0)" aria-expanded="true"><ion-icon name="people-outline"></ion-icon><span>Gérer les utilisateurs</span></a>
                                <ul class="collapse">                                   
                                    <li><a href="{{path('app_admin_utilisateurs_index')}}">utilisateurs inscrit</a></li>
                                    <li><a href="{{path('app_admin_commercants_index')}}">commerçants inscrit</a></li>                                                                       
                                </ul>
                            </li>                          
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- sidebar menu area end -->