{% extends 'layouts/admin.html.twig' %}

{% block body %}

<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    {% include "admin/admin_partials/_admin_side_menu.html.twig" %}
     <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
                {% include "layouts/admin_partials/_admin_header.html.twig" %}
            <!-- page title area end -->
            <div class="main-content-inner">
                <div class="admin-user-index">
                    <!-- MAIN CONTENT GOES HERE -->
                    <h1>Liste des commercants inscrits</h1>
                    <ul>
                        <hr>
                        {% for commercant in commercants %}
                            <li>
                                {{ commercant.nom }} 
                            
                               - email: {{ commercant.email }} 
                            
                               - créé le: {{ commercant.createdAt|date('d/m/Y') }}
                            </li>
                            {% if commercant.boutique %}
                                <div class="admin-link admin-link--bot">
                                    <a href="{{ path('app_single_boutique', {'id': commercant.boutique.id }) }}">Voir sa boutique </a>
                                    &mdash; <a href="{{ path('app_admin_enable_disable_shop', {'id': commercant.id }) }}" >
                                    {% if commercant.boutique.isActive %}
                                        Désactiver la boutique <ion-icon class="warn-admin-togle-shop" name="warning-outline"></ion-icon>
                                    {% else %}
                                        Activer la boutique 
                                    {% endif %}
                                    
                                </a>
                                </div>
                            {% else %}
                                <p class="text">Ce commercant n'a pas encore créé de boutique.</p>
                            {% endif %}
                        <hr>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <!-- main content area end -->

{% endblock %}
