                                                                                                                                     {% extends 'layouts/admin.html.twig' %}

{% block body %}
   
    <!-- preloader area end -->
    <!-- page container area start -->
    <div class="page-container">

    {% include "commercant/commercant_partials/_commercant_side_menu.html.twig" %}
       
        <!-- main content area start -->
        <div class="main-content">
            <!-- header area start -->
                {% include "layouts/admin_partials/_admin_header.html.twig" %}            
            <!-- page title area end -->
            <div class="main-content-inner">
                <!-- MAIN CONTENT GOES HERE -->
                <h1 class="u-margin-top-medium u-center-text heading-primary">Création d'un produit</h1>                
                    
                {{ form_start(form) }}        
                    <div class="form-style grid grid--2-cols">
                        <div class="form-style--left">
                            {{form_row(form.title)}}                
                            {{form_row(form.description)}}
                            {{form_row(form.prix)}}
                            {{form_row(form.quantite)}}
                        </div>

                        <div class="form-style--right">
                            {{form_row(form.reference)}}                                                      
                            {{form_row(form.imageFileProduit)}}                            
                            {{form_row(form.bon_plan)}}           
                        </div>  
                    </div>
                    <div class="form-style--div-submit">
                        <input class="form-style--btn-submit" type="submit" value="Valider" formnovalidate>
                    </div>

                {{ form_end(form) }}
                
            </div>
            
        </div>
        <!-- main content area end -->  

    
{% endblock %}