<hr class="hr-text">
        <section id="commerce">
            <div class="wrap">
                <div class="logo">
                    <img src="{{ vich_uploader_asset(boutique, 'imageFileLogo') }}" alt="{{ boutique.title }}" width="200"/>
                </div>
                <div class="u-center-text u-margin-bottom-little">
                    <h2 class="heading-secondary">
                        Boutique {{ boutique.title }}
                    </h2>
                </div>
                {# //////zone boutique #}
                <div class ="shop-container">
                    <div class="produits">
                        <div class="boxs">
                            <div id="home_plan">
                                <div class="lesbonsplans">
                                    <div class="wrap2">
                                    {% for produit in produits %}
                                    {% for i in 1..4 %}
                                            <div class="mini_plan">
                                                <div class="plan_img">
                                                    <img src="{{vich_uploader_asset(produit, 'imageFileProduit')}}" alt="{{produit.title}}">
                                                </div>
                                                <div class="plan_text">
                                                    <h2>{{ produit.title }}</h2>
                                                </div>
                                                <div class="box-button">
                                                    <input class="inp-btn" type="submit" value="Ajouter au Panier"></input>
                                                    <a class="details" href="{{path('app_single_produit', {id: produit.id})}}">details</a>
                                                </div>
                                            </div>
                                    {% endfor %}
                                    {% endfor %}  
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inscriptions">
                            <input class="inp-btn" type="submit " value="Valider le Panier">
                        </div>
                    </div>
                <!-- --------nav bar d'information-------------- -->
                    {% include "nav/nav_partials/_nav.html.twig" %}
                <!-- /////////////////////////////////////////////////// -->
                </div>
            </div>
        </section>