<hr class="hr-text">
<section id="commerce">
    <div class="wrap">
        <div class="logo">
            <img src="{{asset('images/logo_rislepizza2.png')}}" alt="" width="200"/>
        </div>
        <div class ="titre">
            <h1>Boutique Risle Pizza</h1>
        </div>
        {# /////zone produit///// #}
        <div class ="shop-container">
            <div class="produits">
                <div class="boxs">
                    <ul class="boxs">
                        
                        <li class="shadow">
                            <div class="bloc_text">

                                <img src="{{asset('images/image-box.jpg')}}" alt="">
                                <h2> {{ produit.title }} </h2>
                                <div class="prix">
                                    <div class="dash">
                                        <p>{{produit.prix}}€</p>
                                    </div>
                                </div>
                                <p>{{ produit.description }}</p>
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            
        </div>
        <div class="pagination">
            <ul>
                <li>
                    <a href="{{path('app_commercant_produits_index')}}">Retour Boutique</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<hr class="hr-text">
{# ////////////////////////////////////////////////// #}