<hr class="hr-text">
<section id="commerce">
    <div class="wrap">
        <div class="logo">
            <img src="{{ vich_uploader_asset(app.user.boutique, 'imageFileBoutique') }}" alt="" width="200"/>
        </div>
        <div class ="titre">
            <h1>Boutique {{ app.user.boutique.title }}</h1>
        </div>
        {# /////zone produit///// #}
        <div class ="shop-container">
            <div class="produits">
                <div class="boxs">
                    <ul class="boxs">
                        
                        <li class="shadow">
                            <div class="bloc_text">

                                <img src="{{vich_uploader_asset(produit, 'imageFileProduit')}}" alt="{{ produit.title }}">                                
                                {# <img src="{{vich_uploader_asset(produit.image, 'imageFileProduit')}}" alt=""> #}

                                <h2> {{ produit.title }} </h2>
                                
                                <p>{{ produit.description }}</p>
                                <p>Quantité : {{ produit.quantite }}</p>
                                <p>Prix : {{ (produit.prix)/100 }}</p>
                                <p>Reference : {{ produit.reference }}</p>
                                <p>Bon Plan : {{ produit.bonplan }}</p>
                                
                            </div>
                        </li>
                    </ul>
                </div>
                
            </div>
            
        </div>
        <div class="pagination">
            <ul>
                <li>
                    <a href="{{path('app_commercant_produits_index')}}">Retour Boutique</a>
                </li>
            </ul>
        </div>
    </div>
</section>
<hr class="hr-text">
{# ////////////////////////////////////////////////// #}